page-home {


  #cloud-layer {
    background-image: url(../assets/images/cloud-layer.png);
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .heading {
    color: #39acdc;
    font-size: 1.9em;
    font-family:inherit;
    font-style: normal;
  }


    ion-list {
        margin: 0;
    }

    .log-sheet-button {
        width: 100%;
        border-radius: 30px;
        font-size: 0.9em;
        border: 1px solid #fff;
        background-color: #39acdc;
    }
}
